@keyframes blink {
    0% {
        border: 5px solid transparent; /* 초기 테두리 설정 */
    }
    50% {
        border: 5px solid white; /* 중간 지점에서 테두리를 깜빡임 */
    }
    75% {
        border: 5px solid white; /* 중간 지점에서 테두리를 깜빡임 */
    }
    100% {
        border: 5px solid transparent; /* 다시 초기 테두리 설정 */
    }
}

body {
    background-color: white;
    margin: 0;
}

header {
    overflow: hidden;
    background-color: black;
    margin: 0px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}
header ul {
    list-style: none;
    padding: 0;
}
header ul li {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    color: #f0cd77;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: white;
}

section{
    background-color: lightgrey;
    height: auto;
    width: auto;
    min-width: 700px;
    margin: 0px;
    margin-bottom: 40px;
    padding: 60px;
    text-align: center;
}
footer{
    height: 60px;
    background-color: black;
    color: white;
}
h1{
    font-size: 65px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
i{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    padding: 0px;
}
img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    padding: 0px;
}
#profile_image, #army_image, #school_image{
    animation: blink 3s infinite ease-in;
    animation-delay: 3s;
}
.img_box img{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    margin: 10px;
    padding: 0px;
}
.img_box img:hover{
    opacity: 0.5;
}

.profile{
    margin: 150px;
    padding: 0px;
}
.profile_info{
    margin-top: 100px;
}
.profile_about{
    margin-top: 50px;
}

.history_info{
    background-color: lightseagreen;
}
.school{
    margin: 150px;
    padding: 0px;
}
.military{
    margin: 150px;
    padding: 0px;
}
.favorite_info{
    background-color: lightpink;
}
.fav_item{
    margin: 80px 0px 80px 0px;
    padding: 0px;
}
.fav_item:hover {
    box-shadow: 0 0 10px white;
    transition: border 0.3s, box-shadow 0.3s;
}
.img_box{
    display: inline-block;
    margin: 30px 0 0 0;
}
.contact{
    margin: 150px;
    padding: 0px;
}